
button{
    height: 30px;
    width: 60px;
    cursor: pointer;
    border-radius: 20px;
    border:0;
    background-color: black;
    outline: none;
}
span{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: block;
    background-color:#999;
}



.act{
    background-color: #fff;
    color: green;
    padding-left: 30px;
}
.on{
    color:white;
    font-weight: 700;
    letter-spacing:2px;
    word-spacing: 2px;
}
.dark{
    background: black;
}